.containerCard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 100px;
    overflow-x: hidden;
    padding: 50px;
    
}

.pin-spacer {
    background: #05000f;

}

body {
   overflow-x: hidden; 
    overflow-y: auto; 
}
