.containerCard {
    display: flex;
    gap: 0 100px;
    width: auto; /* Ajustez la largeur automatiquement */
    overflow-x: hidden; /* Activer le défilement horizontal */
    overflow-y: hidden; /* Masquer le défilement vertical */
    padding: 50px;
    background: red;
}

.pin-spacer {
    background: red;
}

body {
    /* Supprimez overflow-x: hidden; pour activer le défilement horizontal */
    overflow-y: auto; /* Activer le défilement vertical */
}
