.container-header {
    margin: auto;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: black;
}

.HeaderResp {
    display: none;
}

.HeaderResp.visible {
    display: flex;
}

.img {
    width: 30px ;
    display: none;
    }

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        width: 100%;
        display: flex;
        gap: 0 30px;
        justify-content: flex-end;
    }

    .Header img{
        width: 50px;
    }

    .Header a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }

