.container-header {
    margin: auto;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: black;
}

.HeaderResp , .Logo-resp {
    display: none;
}

.HeaderResp.visible {
    display: flex;
}

.img {
    width: 30px ;
    display: none;
    }

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        width: 100%;
        display: flex;
        gap: 0 30px;
        justify-content: flex-end;
    }

    .Header img{
        width: 50px;
    }

    .Header a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
@media screen and (max-width: 1024px) {
    .img {
        display: flex;
    }
    .Header {
        display: none;
    }
    .Logo-resp img:not(.img){
        width:100px
    }

    .Logo-resp {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .HeaderResp {
        position: absolute;
        top: 105px;
        left: 0;
        right: 0;
        height: 200px;
        background-color: black;
    }
    .HeaderResp div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px 0;
    }
    .HeaderResp div a {
        text-decoration: none;
    }
}
