.Compcontainer {
    background: black;
    display: flex;
    gap: 0 50px;
    padding: 50px ;
    justify-content: center;
}

.comp-text h2{
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
}

@media screen and (max-width:1024px){
    .Compcontainer {
        flex-wrap: wrap;
        gap: 20px;
    }
}